//color
$while: #ffffff;
$black: #000000;
$gray: #0e0e2c99;
$gray-black: #0e0e2c;
$gray-background: rgba(160, 164, 171, 0.1);
$blue-primary: hsl(223, 99%, 61%);
$blue-primary-shade: hsl(223, 91%, 55%);
$blue-primary-700: hsla(240, 52%, 11%, 1);

//margin
$margin: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  3_5: 0.875rem,
  4: 1rem,
  //16px
  5: 1.25rem,
  //20px
  6: 1.5rem,
  //24px
  7: 1.75rem,
  //28px
  8: 2rem,
  9: 3rem,
);

$breakpoints: (
  phone: 26.75em,
  //  428px
  tablet: 48em,
  //768px
  desktop: 73em,
  //1168px
) !default;
